{% extends "pages/home.html" %}

{% block content %}
<ul>
    {% if object_list is not empty %}
    <table border="0" cellspacing="0" cellpadding="8" width="640" align="left">
        <tr>
            <td align='center' nowrap>Name</td>
            <td align='center' nowrap>Type</td>
            <td align='center' nowrap>Orders</td>
            <td align='center' nowrap>Ratings</td>
        </tr>
        <!-- NOTE: for listviews list must be called object_list -->
        {% for customer in object_list %}
        <tr>
            <td align='center' nowrap>{{ customer }}</td>
            <td align='center' nowrap>{{ customer.get_customer_type_display }} </td>
            <td align='center' nowrap>{{ customer.delivery_set.all | length }}</td>
            {% if customer.rating_set.all  is not empty %}
            <td align='center' nowrap><a href="{% url 'ratings:customer_rating_list' customer.id %}">Ratings</a></td>
            {% else %}
            <td align='center' nowrap>None</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>
        Nothing Here.
    </p>
    {% endif %}
</ul>
{% endblock content %}