{% extends "pages/home.html" %}

{% block content %}
<ul>
    {% if object_list is not empty %}
    <table border="0" cellspacing="0" cellpadding="8" width="640" align="left">
        <tr>
            <td align='center' nowrap>From</td>
            <td align='center' nowrap>Amount</td>
            <td align='center' nowrap># of Items</td>
            <td align='center' nowrap>Rating</td>
        </tr>
        <!-- NOTE: for listviews list must be called object_list -->
        {% for order in object_list %}
        <tr>
            <td align='center' nowrap>{{ order.restaurant }}</td>
            <td align='center' nowrap>Secret</td>
            <td align='center' nowrap>{{ order.dishes.all | length }}</td>
            {% if order.status == 4 %}
            <td align='center' nowrap><a href = {% url 'ratings:rate_dish' order.id %}>Rate</a></td>
            {% elif order.status < 6 %}
            <td align='center' nowrap>{{ order.get_status_display }}</td>
            {% else %}
            <td align='center' nowrap>Rated</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>
        Nothing Here.
    </p>
    {% endif %}
</ul>
{% endblock content %}