{% extends "pages/home.html" %}

{% block content %}
<ul>
    <table border="1" cellspacing="0" cellpadding="8" width="640" align="left">
        <tr>
            <td align='center' nowrap>Item Name</td>
            <td align='center' nowrap>Item Cost</td>
            <td align='center' nowrap>Restaurant</td>
            <td align='center' nowrap>Restaurant</td>
        </tr>
        <!-- NOTE: for listviews list must be called object_list -->
        {% for item in object_list %}
        <tr>
            <td align='center' nowrap>{{ item }}</td>
            <td align='center' nowrap>${{ item.price }} </td>
            <td align='center' nowrap>{{ item.restaurant.name}}</td>
            <td align="center" nowrap><a href="{% url 'ratings:rate_item' item.id %}">Rate</a></td>
        </tr>

        {% empty %}
        <p>
            Nothing Here.
        </p>
        {% endfor %}
    </table>
</ul>
{% endblock content %}