<!DOCTYPE html>

<body>
    <header>
        <div class='container'>
            <ul class='menu menu-left'>
                <li class='menu-item'>
                    <span>
                        Home
                    </span>
                </li>
                {% if user.is_authenticated %}
                <li class='menu-item'>

                    <a href='/logout'>
                        <span>
                            Logout
                        </span>
                    </a>
                </li>
                <li class='menu-item'>
                    <a href='/profile'>
                        <span>
                            Profile
                        </span>
                    </a>
                </li>
                {% if user.is_cook %}
                <li class='menu-item'>
                    <a href='/cook_menu'>
                        <span>
                            View Menu
                        </span>
                    </a>
                </li>
                {% elif user.is_customer %}
                <li class='menu-item'>
                    <a href="/customer/history">
                        <span>
                            History
                        </span>
                    </a>
                </li>
                {% elif user.is_delivery_person %}
                <li class='menu-item'>
                    <a href='/deliveryperson/deliverylist'>
                        <span>
                            View Deliveries
                        </span>
                    </a>
                </li>
                {% elif user.is_manager %}
                <li class='menu-item'>
                    <a href='/manager/customerlist'>
                        <span>
                            View Customers
                        </span>
                    </a>
                </li>
                {% elif user.is_sales_person %}
                <li class='menu-item'>
                    <a href='/salesperson/purchaselist'>
                        <span>
                            View Customers
                        </span>
                    </a>
                </li>
                {% endif %}
                {% else %}
                <li class='menu-item'>
                    <a href='/login'>
                        <span>
                            Login
                        </span>
                    </a>
                </li>
                {% endif %}

            </ul>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>