<!DOCTYPE html>
<body>
    <header>
        <div class='container'>
            <ul class='menu menu-left'>
                <li class='menu-item'>
                    <span>
                        Home
                    </span>
                </li>
                <li class='menu-item'>
                    <a href='/login'>
                        <span>
                            Login
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>

