{% extends "pages/home.html" %}


{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            {% if user.is_authenticated and user.is_customer %}
              <h2 align="center">You are registered as a Customer</h2>
                <p>
                    Username:
                    {{ user.username }}
                </p>
                <p>
                    Name:
                    {{ user.first_name }}
                </p>
                <p>
                    Last name:
                    {{ user.last_name }}
                </p>
                <p>
                    Email:
                    {{ user.email }}
                </p>
             {% elif user.is_authenticated and user.is_cook %}
               <h2 align="center">You are registered as a Cook</h2>
                <p>
                    ID:
                    {{ user.id }}
                </p>
                <p>
                    Username:
                    {{ user.username }}
                </p>
                <p>
                    Name:
                    {{ user.first_name }}
                </p>
                <p>
                    Last name:
                    {{ user.last_name }}
                </p>
                <p>
                    Email:
                    {{ user.email }}
                </p>
                <p>
                    You work at:
                    {{ request.user.cook.restaurant }}
                </p>
                <p>
                     <a href="/cook/dishlist" class="nav-item nav-link active"> View menu of {{ request.user.cook.restaurant }}</a>
                </p>
            {% elif user.is_authenticated and user.is_manager %}
               <h2 align="center">You are registered as a Manager</h2>
                <p>
                    Username:
                    {{ user.username }}
                </p>
                <p>
                    Name:
                    {{ user.first_name }}
                </p>
                <p>
                    Last name:
                    {{ user.last_name }}
                </p>
                <p>
                    Email:
                    {{ user.email }}
                </p>
            {% elif user.is_authenticated and user.is_delivery_person %}
               <h2 align="center">You are registered as a Delivery Person</h2>
                <p>
                    Username:
                    {{ user.username }}
                </p>
                <p>
                    Name:
                    {{ user.first_name }}
                </p>
                <p>
                    Last name:
                    {{ user.last_name }}
                </p>
                <p>
                    Email:
                    {{ user.email }}
                </p>
                <p>
                    You work at:
                    {{ request.user.deliveryperson.restaurant }}
                </p>
            {% elif user.is_authenticated and user.is_sales_person %}
               <h2 align="center">You are registered as a Salesperson</h2>
                <p>
                    Username:
                    {{ user.username }}
                </p>
                <p>
                    Name:
                    {{ user.first_name }}
                </p>
                <p>
                    Last name:
                    {{ user.last_name }}
                </p>
                <p>
                    Email:
                    {{ user.email }}
                </p>
            {% else %}
            <p>Login<a href="/login"> here</a> </p>
            {% endif %}
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}

